* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-page .logoImg {
    height: 65px;
    width: 130px;
    padding-top: 6px;
    padding-left: 0;
    margin-left: 35px;
    display: flex;
    justify-content: left;
    align-items: center;

}

.home-page .Navbar {
    height: 80px;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    z-index: 3;
    position: fixed;
    top: 0;
}
.home-page .Navbar.scroll{
    background: #000;
    transition: 0.3s ease;
}


.home-page .innerNav {
    width: 100%;
    display: flex;
    align-items: center;
}


.home-page .logo {
    width: 100px;
    height: 40px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
    margin-bottom: 0px;
    color: red;
    font-size: 30px;
}

.home-page .HeaderButtons {
    width: 84%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0;
}

.home-page .logoDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-page .headerBtnDiv {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-right: 40px;
}

.home-page .liSection {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.home-page .liSection>ul {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    text-decoration: none;
    list-style: none;
}

.home-page .liSection>ul>li {
    text-decoration: none;
    font-size: 13px;
    transition: 0.3s ease;
}

.home-page .liSection>ul>li:hover {
    cursor: pointer;
    color: #ccc;
    transition: 0.3s ease;
}

.home-page .user-icons {
    height: 50px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 80px;
}

.fa-solid {
    font-size: 18px;
}

.home-page .user-icons>img {
    height: 30px;
    width: 30px;
}

/* home page styling starts here */
.home-page .home-page-hero-section {
    background-image: url('https://cdn.mos.cms.futurecdn.net/wPVEnoqRAzoVxUXvk4TMeR-1200-80.jpg');
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.home-page, .home-page-hero-section2{
    height: 1009px;
    width: 100%;
}
/* home page styling ends here */