* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* --- Navbar section --- */

.home-page .logoImg {
    height: 65px;
    width: 130px;
    padding-top: 6px;
    padding-left: 0;
    margin-left: 35px;
    display: flex;
    justify-content: left;
    align-items: center;

}

.home-page .Navbar {
    height: 60px;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.0) 0%,
            /* bottom side dark */
            rgba(0, 0, 0, 0.4) 95%);
    transition: 0.9s ease;
}

.home-page .Navbar.scroll {
    background: #000;
    transition: 0.5s ease;
}


.home-page .innerNav {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
}


.home-page .logo {
    width: 100px;
    height: 40px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
    margin-bottom: 0px;
    color: red;
    font-size: 30px;
}

.home-page .HeaderButtons {
    width: 84%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0;
}

.home-page .logoDiv {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-page .headerBtnDiv {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-right: 40px;
}

.home-page .liSection {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page .liSection>ul {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    gap: 20px;
}

.home-page .liSection>ul>li {
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s ease;
}

.home-page .liSection>ul>li:hover {
    cursor: pointer;
    color: #ccc;
    transition: 0.3s ease;
}

.home-page .user-icons {
    height: 50px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 80px;
}

.fa-solid {
    font-size: 18px;
}

.home-page .user-icons>img {
    height: 30px;
    width: 30px;
}

.sign-out {
    background-color: red;
    color: white;
    width: 70px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* --- Navbar section --- */

/* --- home page styling starts here --- */
/* CSS */
.home-page-hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.home-page-hero-section::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to left,
            rgba(0, 0, 0, 0.2)10%,
            rgba(0, 0, 0, 0.2)10%
            /*left side dark  */
        );
    z-index: 1;
}

/* iframe container behind */
#player-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* peeche */
    border: none;
}

#player-container iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    border: none;
    /* iframe ke upar clicks allow content ko */
}


/* overlay content */
.parent-hero-div {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: end;
    padding-left: 35px;
    color: #fff;
}

.child-hero-div {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    padding-bottom: 65px;
}

.second-div {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: end;
    justify-content: end;
    padding-right: 30px;
}

.title-div {
    height: 300px;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 15px;
    z-index: 999;
}

.title-div h2 {
    font-size: 50px;
    height: 109px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.title-div span {
    font-size: 18px;
    height: 29%;
    width: 60%;
    text-align: left;
    overflow: hidden;
}

.second-div>.volumBtn {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    gap: 5px;
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid #ccc;
    color: #fff;
    cursor: pointer;
}

.home-page-play-button,
.infoBtn {
    height: 36px;
    width: 85px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 2px;
    border: none;
    outline: none;
    background-color: #ccc;
    transition: 0.3s ease;
}

.infoBtn {
    background-color: #c7b5b5ca;
}

.infoBtn:hover {
    background-color: #ccc;
    transition: 0.3s ease;
    cursor: pointer;
}


.btnDivs {
    display: flex;
    align-items: center;
    width: 190px;
    gap: 10px;
}

.title-div h2,
.title-div span,
.btnDivs,
.home-page-play-button,
.volumBtn {
    position: relative;
    z-index: 999;
}


/* --- home page styling ends here --- */

/* logic for slider */
.home-page-slider-div {
    height: 100vh;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 70%, rgba(128, 128, 128, 0.6) 97%);
}

.slider-div {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 35px;
}

.slider-div h2 {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-transform: capitalize;
}


.slider-cards-buttons {
    height: 180px;
    width: 100%;
    display: flex;
    flex-shrink: 0;
}

.movie-images {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}

.movies-img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.movies-card {
    position: relative;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    border-radius: 3px;
    overflow: hidden;
}

.movies-card:hover {
    position: relative;
    z-index: 9999;
    font-size: none;
    height: 260px;
    transform: scale(1.4);
    transition: 0.4s ease;
    box-shadow: 0 0 35px 10px rgba(0, 0, 0, 0.5);
    background: rgb(20, 20, 20);
}

.title-bar-icons {
    position: relative;
    z-index: 10;
    display: flex;
    gap: 8px;
    width: 80%;
    transition: none;
}

.moives-images,
img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.movies-name {
    position: absolute;
    top: 0;
    width: 250px;
    height: 60%;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    line-height: 23px;
    display: flex;
    align-items: end;
    justify-content: flex-start;
    padding-bottom: 5px;
    padding-left: 10px;
}

.button-play i {
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    transition: none;
}

.button-play {
    height: 27px;
    width: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    outline: none;
    border: none;
    transition: none;
    opacity: 90%;
}

.second {
    border: 1px solid #fff;
    background: #c3c3c31a;
    color: #fff;
}

.iframeContainer {
    position: absolute;
    width: 265px;
    height: 100%;
    display: none;
    transition: 0.3s ease;
}


.title-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    opacity: 0;
    padding-top: 15px;
    padding-left: 15px;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.movies-card:hover .title-bar {
    opacity: 1;
    transition: none;
    transform: translateY(0);
}

.buttons {
    height: 100%;
    width: 50px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.movies-detail {
    height: 150px;
    width: 80%;
}

.movies-detail ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.movies-detail ul>li {
    padding-top: 10px;
    font-size: 12px;
}



i.fa-solid.fa-plus {
    font-size: 21px;
    transition: none;
}

.fa-chevron-right {
    font-size: 50x;
}

/* logic for slider */






/* responssiveness */

@media (max-width: 425px) {
    .home-page .logoImg {
        margin-left: 10px;
    }

    .home-page .logoImg>h2 {
        font-size: 28px;
    }

    .home-page .title-div {
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;
        position: relative;
        z-index: 1;
    }

    .title-div>h2 {
        font-size: 30px;
        width: 100%;
    }

    .home-page .liSection {
        display: none;
    }

    .home-page .logoImg {
        display: flex;
        justify-content: end;
        align-items: end;
    }

    .home-page .headerBtnDiv {
        margin-right: 0;
        display: flex;
        justify-content: end;
        align-items: end;
        padding: 0;
    }

    .home-page .user-icons {
        padding: 0;
        margin: 0;
        width: 160px;
    }
}