*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.login-page .headerBtnDiv{
    display: none;
}

.login-hero-sec{
    height: 100%;
    min-height: 100vh;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f562aaf4-5dbb-4603-a32b-6ef6c2230136/dh0w8qv-9d8ee6b2-b41a-4681-ab9b-8a227560dc75.jpg/v1/fill/w_1192,h_670,q_70,strp/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZjU2MmFhZjQtNWRiYi00NjAzLWEzMmItNmVmNmMyMjMwMTM2XC9kaDB3OHF2LTlkOGVlNmIyLWI0MWEtNDY4MS1hYjliLThhMjI3NTYwZGM3NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.LOYKSxIDqfPwWHR0SSJ-ugGQ6bECF0yO6Cmc0F26CQs');
    background-size: cover;
    background-position: center;
}
.login-hero-sec::before{
    height: 100%;
    min-height: 100vh;
}


/* footer section styling */
.login-page .footer-main-div{
    background-color: #161616;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 300px;
}
.login-page .Footer-links {
    background-color: #161616;
    color: #f2f2f2;
    text-decoration: underline;
}
.login-page .Footer-links ul li{
    background-color: #161616;
    color: aqua;
    display: flex;
    align-items: start;
}
.login-page .Footer-links ul{
    background-color: #161616;
    height: 85px;
    width: 250px;
    padding: 0;
}
.login-page .footer-main-div span{
    background-color: #161616;
    color: aqua;
    text-decoration: none;
}
.login-page .footer-inner-div{
    background-color: #161616;
    color: aqua;
}

.login-page .footer-inner-div span{
    background-color: #161616;
    color: aqua;
}

.login-page .footer-bottom-div{
    background-color: #161616;
    color: aqua;
    height: 15px;
}
.login-page .footer-bottom-div p{
    background-color: #161616;
}
.login-page .footer-lang-button {
    border: 1px solid #cccccca0;
    color: aqua;
}

.login-page #langSelect{
    color: #f2f2f2;
    font-size: 13px;
     appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px 30px 10px 12px;
    background-image: url("data:image/svg+xml,%3Csvg fill='white' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 20px;
    position: relative;
    right: 5px;
    outline: none;
}
/* Responsive style starts here  */

/* Responsive style ends here  */