@media screen and (max-width: 1024px) {

    .Navbar,
    .innerNav {
        width: 100%;
    }

    .logoImg {
        margin-left: 25px;
        margin-bottom: 8px;
    }

    .HeaderButtons {
        padding-top: 13px;
        padding-left: 4px;
    }

    .logoDiv {
        width: 91%;
        padding-left: 40px;
        padding-right: 40px
    }

    .HeaderButtons {
        padding-left: 10px;
    }

    .headSelectSign {
        border: 1px solid #cccccc96;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 123px;
        height: 31px;
        border-radius: 3px;
        margin-left: 126px;
    }

    .text-adv {
        position: relative;
        padding-top: 0;
    }

    .text-adv span {
        height: 120px;
        width: 406px;
        padding-top: 75px;
        font-size: 34px;
    }

    .price-plan {
        font-weight: 500;
        font-size: 15px;
        height: 30px;
        width: 290px;
        padding-top: 10px;
    }

    #langSelect {
        font-size: 15px;
    }


    .text-section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 496px;
        padding-top: 0;
    }

    .get-start-section {
        width: 320px;
        height: 128px;
        display: flex;
        justify-content: end;
        align-items: center;
        padding-top: 5px;
        outline: none;
    }

    .get-start-section span {
        height: 25px;
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        text-align: center;
        padding-top: 10px;
        line-height: 25px;
    }

    .input-section {
        padding-top: 26px;
    }

    .get-start-button {
        height: 55px;
        width: 35%;
        background: rgb(253, 22, 22);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: #fff;
        font-size: 18px;
        font-weight: 550;
        transition: 0.2s ease-in;
    }

    .input-tag {
        height: 53px;
        width: 61%;
        background: #181616f6;
        border: 1px solid #cccccc7b;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .movies-slider,
    .trending-text {
        width: 100%;
        /* margin-left: 50px; */
    }

    .trending-text {
        position: relative;
        left: 116px;
        top: 21px;
    }

    .movies-slide {
        /* width: 100%; */
        padding-left: 70px;
        padding-right: 70px;
        height: 253px;
    }

    .movies-cards {
        height: 210px;
        width: 145px;
    }

    .movies-cards span {
        font-size: 84px;
        font-weight: 800;
        top: 95px;
        right: 115px;
    }
}

@media screen and (max-width: 768px) {

    .Navbar,
    .innerNav {
        width: 100%;
    }

    .logoImg {
        margin: 0;
        padding: 0;
    }

    .logo {
        width: 89px;
        height: 24px;
        padding-top: 8px;
        padding-right: 5px;
    }

    .HeaderButtons {
        padding-top: 1px;
        padding-left: 4px;
    }

    .headerBtnDiv {
        margin: 0;
        padding: 0px;
    }

    .logoDiv {
        width: 92%;
        padding-left: 32px;
        padding-right: 0px
    }

    .headSelectSign {
        width: 125px;
    }

    .netflix-lang-icon {
        font-size: 12px;
    }

    #langSelect {
        font-size: 14px;
    }

    .headSignBtn button {
        height: 32px;
        width: 76px;
    }

    .text-adv {
        height: 100px;
        width: 646px;
        /* display: flex;
        justify-content: center; */
        padding-bottom: 16px;
    }

    .text-adv span {
        height: 100px;
        width: 463px;
        font-size: 29px;
        padding-top: 0;
    }

    .price-plan {
        font-weight: 500;
        font-size: 15px;
        height: 30px;
        width: 290px;
        /* padding-top: 10px; */
    }

    #langSelect {
        font-size: 15px;
    }


    .text-section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 395px;
        padding-top: 0;
    }

    .get-start-section {
        width: 450px;
        height: 120px;
        display: flex;
        justify-content: end;
        align-items: center;
        padding-top: 5px;
        outline: none;
        position: relative;
        top: 1px;
    }

    .get-start-section span {
        height: 25px;
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        text-align: center;
        padding-top: 13px;
        line-height: 25px;
    }

    .input-section {
        padding-top: 27px;
        padding-left: 0;
        height: 150px;
    }


    .get-start-button {
        height: 55px;
        width: 41%;
        background: rgb(253, 22, 22);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: #fff;
        font-size: 18px;
        font-weight: 550;
        transition: 0.2s ease-in;
    }

    .input-tag {
        height: 53px;
        width: 55%;
        background: #181616f6;
        border: 1px solid #cccccc7b;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding-left: 5px;
    }

    .input-tag label {
        padding-left: 10px;
        padding-top: 3px;
        font-size: 15px;
    }


    .movies-slide {
        /* width: 100%; */
        padding-left: 35px;
        padding-right: 35px;
        height: 200px;
        display: flex;
        gap: 0px;
    }

    .movies-cards {
        height: 170px;
        width: 120px;
    }

    .movies-cards span {
        font-size: 60px;
        font-weight: 800;
        top: 80px;
        right: 92px;
    }

    .movies {
        margin-right: 0;
        padding-left: 22px;
        display: flex;
        gap: 24px;
    }

    .trending-text {
        position: relative;
        left: 55px;
        top: 21px;
        font-size: 23px;
    }

    .trending-bgimg-section {
        width: 100%;
        height: 10vh;
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width: 425px) {

    .Navbar,
    .innerNav {
        width: 100%;
        padding-left: 0;
    }

    .logoImg {
        width: 100%;
        margin-left: 25px;
        /* margin-bottom: 8px; */
    }

    .HeaderButtons {
        padding-top: 13px;
        /* padding-left: 4px; */
    }

    .logoDiv {
        width: 91%;
        padding-left: 0;
    }

    .HeaderButtons {
        padding-left: 10px;
        width: 230px;
    }

    .headSelectSign {
        border: 1px solid #cccccc96;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 60px;
        height: 31px;
        border-radius: 3px;
    }

    .headerBtnDiv {
        width: 425px;
        display: flex;
        gap: 10px;
        padding-bottom: 10px;
    }

    #langSelect {
        display: none;
    }

    .hero-section {
        height: 100vh;
        width: 100vw;
    }

    .text-adv {
        width: 361px;
        position: relative;
        bottom: 30px;
    }

    .text-adv span {
        width: 361px;
    }

    .get-start-section {
        width: 100%;
    }

    .get-start-section span {
        width: 84%;
        position: relative;
        top: 20px;
    }

    .input-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: relative;
        top: 20px;
    }

    .input-tag {
        height: 45px;
        width: 350px;
    }

    .get-start-button {
        height: 48px;
        width: 158px;
    }

    .movies-slide {
        width: 400px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 320px) and (max-width: 375px) {
    .Navbar {
        width: 100%;
    }

    .HeaderButtons {
        width: 195px;
    }

    .headerBtnDiv {
        width: 100%;
        display: flex;
        align-items: start;
    }

    .headSelectSign {
        margin-left: 0;
    }

    .hero-section {
        width: 320px;
        height: 496px;
    }

    .text-adv {
        width: 320px;
    }

    .get-start-section {
        width: 256px;
        height: 133px;
        display: flex;
        /* justify-content: space-evenly; */
        align-items: center;
    }

    .get-start-section span {
        width: 256px;
        position: relative;
        top: 71px;
        height: 72px;
    }

    .text-adv span {
        width: 260px;
        height: 130px;
        margin-bottom: 8px;
    }

    .price-plan {
        width: 256px;
        height: 20px;
        font-size: 16px;
        padding-top: 0;
        margin-bottom: 16px;
    }

    .input-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: relative;
        top: 65px;
        height: 158px;
        width: 256px;
    }

    .input-tag {
        width: 256px;
    }

    .inputs-box {
        width: 256px;
    }

    .alert-text {
        width: 256px;
        height: 10px;
        display: none;
        padding-bottom: 0;
        /* color: ; */
    }


    /* movies slider section */
    .movies {
        position: relative;
        padding-left: 10px;
        padding-right: 5px;
        height: 201px;
        width: 240px;
        gap: 3px;
    }

    .movies-slider {
        width: 320px;
        height: 248px;
    }

    .movies-slide {
        width: 320px;
        height: 205px;
    }

    .movies-slide button {
        margin-bottom: 15px;
        height: 115px;
        width: 23px;
    }

    .movie-posters {
        width: 320px;
        height: 568px;
        /* position: absolute; */
        /* top: 0; */
    }

    .poster {
        height: 418px;
        width: 312px;
        overflow: hidden;
    }

    .poster-box {
        height: 200px;
        width: 318px;
        position: relative;
        top: 0;
        left: 0;
    }

    .poster-box img {
        height: 200px;
    }

    .poster-title {
        height: 232px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .poster-title p {
        width: 286px;
        height: 100px;
        padding: 0;
        padding-left: 10px;
        font-size: 14px;
        overflow: hidden;
    }

    .poster-box h2 {
        padding-left: 10px;
        font-size: 32px;
        width: 256px;
        height: 55px;
        position: relative;
        bottom: 9%;
    }

    .poster-botton {
        width: 286px;
        height: 40px;
        margin-left: 10px;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fa-chevron-right {
        padding-left: 10px;
    }

    /* movies slider section  ends here */

    /* movies cards styling starts here */

    .trending-text {
        position: relative;
        left: 15px;
        font-style: 21px;
    }

    .movies-cards span {
        position: relative;
        right: 111px;
    }

    .movies-card {
        width: 112px;
        height: 156px;
    }

    .movies-cards img {
        width: 112px;
        height: 156px;
    }

    /* movies cards styling ends here */

    .get-start-inner-div {
        height: 150px;
        width: 295px;
        display: flex;
        padding-right: 0;
        padding-left: 25px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .input-section2 {
        display: flex;
        padding-right: 0;
        padding-left: 0px;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .input-box {
        width: 275px;
        height: 50px;
    }

    .get-start-input {
        width: 320px;
        height: 230px;
    }

    .get-start-button2 {
        width: 140px;
        height: 48px;
        background: rgb(253, 22, 22);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: #fff;
        padding-right: 20px;
        font-size: 19px;
        font-weight: 600;
        padding-left: 8px;
        transition: 0.2s ease-in;
    }

    .Information-section {
        height: 311px;
        width: 318px;
    }

    .inner-info-se {
        height: 311px;
    }

    .main-key-feature-section {
        width: 306px;
        height: 850px;
        padding-left: 10px;
        padding-right: 0;
        display: block;
    }


    .main-key-feature-section h2 {
        width: 299px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-left: 10px;
        margin-bottom: 5px;
        font-size: 18px;
    }

    .main-key-feature-inner-section {
        height: 835px;
        width: 305px;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;

    }

    .inner-key-feature-section {
        height: 760px;
        width: 295px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        padding-left: 15px;
    }

    .key-feature-cards {
        width: 270px;
        height: 205px;
        padding-left: 0;
    }

    .key-feature-title {
        padding-top: 25px;
        font-size: 20px;
    }

    .key-feature-discription {
        height: 45px;
        padding-bottom: 0;
        padding-top: 5px;
        margin-top: 0;
        font-size: 15px;
    }

    .key-feature-img {
        height: 50px;
        margin-left: 42px;
    }

    .key-feature-img img {
        height: 50px;
        width: 50px;
    }

    .frequently-ask-section {
        padding: 0;
        padding-left: 18px;
        width: 300px;
    }

    .frequently-ask-section h3 {
        font-size: 19px;
    }

    .faqs-discription {
        width: 208px;
        font-size: 18px;
        /* padding-top: 15px; */
    }


    .main-question-box {
        width: 290px;
    }

    .questions {
        width: 260px;
        /* height: 72px; */
        padding-left: 24px;
        padding-right: 0;
        font-size: 20px;
    }

    .fa-plus {
        font-size: 38px;
        margin-right: 25px;
    }

    .footer-main-div {
        width: 320px;
        height: 575px;
        padding-left: 0px;
        padding-right: 0;
    }

    .footer-inner-div {
        width: 295px;
        height: 575px;
        padding-left: 25px;
    }

    .Footer-links {
        width: 293px;
        height: 415px;
        display: flex;
        flex-direction: column;
    }

    .Footer-links ul {
        height: 85px;
        padding-top: 15px;
    }

    .Footer-links ul li {
        width: 276px;
        height: 21px;
        padding-top: 10px;
    }

    .footer-bottom-div {
        height: 220px;
        background: #000;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 25px;
    }

    .footer-bottom-div p {
        padding-right: 50px;
        font-size: 12px;
    }
}